[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "*"
django-environ = "*"
django-extensions = "*"
pillow = "*"
crispy-tailwind = "*"
python-webpack-boilerplate = "*"
django-redis = "*"
django-browser-reload = "*"
django-debug-toolbar = "*"
django = {extras = ["argon2"], version = "*"}

[dev-packages]
pytest = "*"
pytest-django = "*"
psycopg2-binary = "*"
notebook = "*"
django-debug-toolbar = "*"

[production]
gunicorn = "*"
psycopg2 = "*"

[requires]
python_version = "3.12"
